{% extends 'commons/base.twig' %}

{% block css %}
	{{ parent() }}
{% endblock css %}

{% block js %}
	{{ parent() }}
{% endblock js %}

{% set titulo_tela = titulo | raw %}


{% block header_tela %}
	<h1 class="corpo-tela" style="color: #db522c;">{{ titulo | raw }}</h1>

    {% if administrador %}
     	<div class="edicao-tela" style="width: 100%;">
            <textarea id="titulo_tela" rows="2" style="width: 100%;">{{ titulo }}</textarea>
        </div>
        <span id="editar_tela">
            <i class="fas fa-cogs"></i>
        </span>
    {% endif %}

{% endblock header_tela %}

{% block body %}
	<div class="corpo-tela">
		{{ corpo | raw }}
	</div>

    {% if administrador %}
        <div class="edicao-tela">
            <input type="hidden" id="id_tela" value="{{ id_tela }}">
            <textarea id="corpo_tela" rows="30" style="width: 100%;">{{ corpo }}</textarea>
            <button id="salvar_corpo_tela" class="btn btn-primary"><i class="fas fa-save"></i> Salvar</button>
        </div>
    {% endif %}
{% endblock body %}
