<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Login - Cecon</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% block css %}
			<link rel="icon" href="{{ base_url('images/icon/icon-blue.png') }}" type="image/png"/>
			<link rel="shortcut icon" href="{{ base_url('images/icon/icon-blue.png') }}" type="image/png"/>
			{# <link rel="stylesheet" type="text/css" href="{{ base_url('assets/css/reset.css') }}"/> #}
			{# <link href="//db.onlinewebfonts.com/c/33b2def4c3ec8393935e213fa53795b6?family=Humnst777+BT" rel="stylesheet" type="text/css"/> #}
			{# <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet"> #}
			<link rel="stylesheet" type="text/css" href="{{ base_url('assets/libs/fontawesome-free-5.0.6/web-fonts-with-css/css/fontawesome-all.min.css') }}"/> 
            <link rel="stylesheet" type="text/css" href="{{ base_url('assets/libs/bootstrap-4.0.0/css/bootstrap.min.css') }}"/>
			<link rel="stylesheet" type="text/css" href="{{ base_url('assets/libs/izitoast/css/iziToast.min.css') }}"/>
			<link rel="stylesheet" type="text/css" href="{{ base_url('assets/libs/ladda/ladda.min.css') }}"/>
			<link rel="stylesheet" type="text/css" href="{{ base_url('assets/css/login/main.css') }}"/>
		{% endblock css %}

	</head>
	<body data-baseurl="{{ base_url() }}">

		<div class="container-login">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-7 col-xl-6">
                    <div class="form-login">

                        <div class="form-group">
                            <label for="login">Login</label>
                            <input type="text" class="form-control input-text" id="usuario">
                        </div>

                        <div class="form-group">
                            <label for="senha">Senha</label>
                            <input type="password" class="form-control input-text" id="senha">
                        </div>

                        <button id="btn_entrar" type="submit" class="btn btn-orange ladda-button" data-style="zoom-in" data-spinner-color="#ffffff">Entrar</button>

                        <span class="recuperar-senha">Esqueceu a senha?</span>
                        <hr>
                        <button id="btn_criar_conta" class="btn btn-blue ladda-button" data-style="zoom-in" data-spinner-color="#ffffff">Criar conta</button>
                    </div>

                    
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-6">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/ZDfPlWaB9DE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="width: 100%; height:100%; min-height: 408px; border-radius: 27px;"></iframe>
                </div>
            </div> {# end row #}
		</div>

		<div class="logo"></div>


		{% block body %}{% endblock body %}

		{% block js %}
			<script src="{{ base_url('assets/libs/jquery-3.3.1/jquery-3.3.1.min.js') }}"></script>
			<script src="{{ base_url('assets/libs/bootstrap-4.0.0/js/bootstrap.min.js') }}"></script>
			<script src="{{ base_url('assets/libs/izitoast/js/iziToast.min.js') }}"></script>
			<script src="{{ base_url('assets/libs/ladda/spin.min.js') }}"></script>
			<script src="{{ base_url('assets/libs/ladda/ladda.min.js') }}"></script>
			<script src="{{ base_url('assets/js/commons/requester.js') }}"></script>
			<script src="{{ base_url('assets/js/login/main.js') }}"></script>
		{% endblock js %}
	</body>
</html>
