{% extends 'commons/base.twig' %}

{% block css %}
	{{ parent() }}
	<link href="{{ base_url('assets/libs/select2/css/select2.min.css') }}" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="{{ base_url('assets/css/commons/formulario.css') }}"/>
{% endblock css %}

{% block js %}
	{{ parent() }}
	<script src="{{ base_url('assets/libs/select2/js/select2.min.js') }}"></script>
	<script src="{{ base_url('assets/libs/select2/js/pt-br.js') }}"></script>
	<script src="{{ base_url('assets/js/commons/formulario.js') }}"></script>
	<script src="{{ base_url('assets/js/cursos/main.js') }}"></script>
{% endblock js %}

{% set titulo_tela = "Cadastro de curso" %}
{% set form_url = "cursos" %}
{% set chave_id = "id" %}

{% block header_tela %}

    <h1 style="color: #db522c;">Cursos</h1>
{% endblock header_tela %}

{% block body %}
    {% embed 'templates/formulario.twig' %}
        {% block body_form %}

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <span style="font-size: 18px;">
                    <i class="far fa-user"></i>
                    Cadastro de curso</span>
                <hr>
            </div>

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 form-group">
                <label>Descrição do curso</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-edit"></i>
                        </div>
                    </div>
                    <input type="text" class="form-control" id="descricao" data-bind="descricao" required>
                </div>
            </div>


        {% endblock body_form %}
    {% endembed %}

{% endblock body %}
